{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'menu.html' %}

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <a href="{% url 'new_company' %}"><button type="button" class="btn btn-dark">Register Company</button></a>
                    <a href="{% url 'new_worker' %}"><button type="button" class="btn btn-dark">Register Worker</button></a>
                </div>    
            </div>
        </div>
    </div>

{% endblock %}