{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'menu.html' %}
    
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Register company</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <div class="row row-space">
                            <div class="col">
                                <div class="input-group">
                                    <label class="label">Company name</label>
                                    <input class="input--style-4" type="text" name="name" value="{{ company.name }}">
                                </div>
                                <div class="input-group">
                                    <label class="label">CNPJ</label>
                                    <input class="input--style-4" type="text" name="cnpj" value="{{ company.cnpj }}">
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn-dark" type="submit" value="OK" >Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}